<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <select id="selectById" resultType="com.dubm.apply.mybatis.po.User">
        select * from user where id = #{id}
    </select>

    <select id="selectByAcct" resultType="com.dubm.apply.mybatis.po.User">
        select * from user where real_name like '%${value}%'
    </select>
    
    <insert id="insert" parameterType="com.dubm.apply.mybatis.po.User">
        <selectKey keyProperty="id" order="AFTER" resultType="Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user(id,acct) values (#{id},#{acct})
    </insert>
</mapper>